extends layout
block content
    #header
    #wrapper
      #minwidth
        #holder
          #menu
            #left
            ul
            li
              a(href='index.html')
                span Home
            #right

          .clear
          #submenu
          #desc
            .body

            .clear
            #body_footer
              #bottom_left
                #bottom_right
    #footer