extends layout
block content
    html(lang='en')
      head
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(charset='utf-8')
        meta(name='description', content='Restyling jQuery UI Widgets and Elements')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        link(rel='stylesheet', href='assets/css/bootstrap.min.css')
        link(rel='stylesheet', href='assets/css/font-awesome.min.css')
        link(rel='stylesheet', href='assets/css/ace-fonts.css')
        link#main-ace-style(rel='stylesheet', href='assets/css/ace.min.css')
        script(src='assets/js/ace-extra.min.js')
      body.login-layout.blur-login
        .main-container
          .main-content
            .row
              .col-sm-10.col-sm-offset-1
                .login-container
                  .center
                    h1
                      span.white #{title}
                  .space-6
                  .position-relative
                    #login-box.login-box.visible.widget-box.no-border
                      .widget-body
                        .widget-main
                          h4.header.blue.lighter.bigger
                            i.ace-icon.fa.fa-coffee.green
                            | 输入登录信息
                          .space-6
                          form(id='form',method='post')
                            fieldset
                              label.block.clearfix
                                span.block.input-icon.input-icon-right
                                  input.form-control(type='text', placeholder='用户名',name='account',id='account')
                                  i.ace-icon.fa.fa-user
                              label.block.clearfix
                                span.block.input-icon.input-icon-right
                                  input.form-control(type='password', placeholder='密码',name='password',id='password')
                                  i.ace-icon.fa.fa-lock
                              .space
                              .clearfix
                                button.width-35.pull-right.btn.btn-sm.btn-primary(type='button',id='btn_submit')
                                  i.ace-icon.fa.fa-key
                                  span.bigger-110 登录
                              .space-4